/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 juil. 2018, 16:38:33
    Author     : afpa1797
*/
html, body{
    margin:0;
    padding: 0;
}
h1{
    text-align: center; 
    color:green;}

